@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-Grotesque; /* Apply the font globally */
}

/* Change the track color */
input[type="range"] {
  -webkit-appearance: none;
  background: #f15e4e; /* Change track color */
  width: 100%;
  height: 5px;
  border-radius: 5px;
}

/* Change the thumb color */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #EF4432; /* Change thumb color */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  background: #EF4432; /* Change thumb color */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

/* Hide the default arrow */
select {
  -webkit-appearance: none;  /* For Safari */
  -moz-appearance: none;     /* For Firefox */
  appearance: none;          /* For Chrome, Opera, and Edge */
  padding-right: 30px;       /* Space for custom arrow */
}

/* Custom arrow */
select::-ms-expand {
  display: none; /* Hide the default arrow in IE */
}

select {
  background-image: url('your-custom-arrow-icon.svg');  /* Add your custom arrow icon here */
  background-position: right 10px center;  /* Position the arrow on the right */
  background-repeat: no-repeat;
  background-size: 12px;
}
